<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QBox.Logging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QBox.Logging.Properties.Settings>
            <setting name="InstrumentationKey" serializeAs="String">
                <value>7ff9a227-13d5-421b-90a8-fde6d05c492c</value>
            </setting>
            <setting name="CurrentEnvironment" serializeAs="String">
                <value>Dev</value>
            </setting>
        </QBox.Logging.Properties.Settings>
    </applicationSettings>
</configuration>