<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>QBox.Api.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>__WEBSITE__</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuizBoxContext" Order="1" Enabled="False">
          <Destination Path="Data Source=__DATABASESERVER__;Initial Catalog=__DATABASENAME__;User ID=__DATABASELOGIN__;Password=__DATABASEPASSWORD__;Connect Timeout=30" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QBox.Api.Database.QuizBoxContext, QBox.Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-QBox.Api-20150501062509.mdf;Initial Catalog=aspnet-QBox.Api-20150501062509;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-QBox.Api-20150501062509.mdf;Initial Catalog=aspnet-QBox.Api-20150501062509;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuizBoxContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.QuizBox.csdl|res://*/Database.QuizBox.ssdl|res://*/Database.QuizBox.msl;provider=System.Data.SqlClient;provider connection string="Data Source=__DATABASESERVER__;Initial Catalog=__DATABASENAME__;User ID=__DATABASELOGIN__;Password=__DATABASEPASSWORD__;Connect Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>